.d-header {
    height: 4em;
}
#main-outlet {
    padding-top: 9.8572em;
}

.proretriever-banner {
    height: 200px;
    width: 100%;
    background: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.proretriever {
    font-size: 8em;
    color: white;
}

.logo-big {
  width:8vw!important;   
  min-width:200px;
}
